# Assignment_16

1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [16]:
 years_list = list(range(1981,1986))

[1981, 1982, 1983, 1984, 1985]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [17]:
 years_list[3]

1984

3.In the years list, which year were you the oldest?

In [18]:
years_list[-1]

1985

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella&quot"
"salmonella"

In [19]:
things=["mozzarella", "cinderella&quot","salmonella"]

5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [22]:
persons=things
for i in range(len(things)):
    things[i]=things[i].capitalize()
print(things)    
print(persons)   

#yes list person also chaging

['Mozzarella', 'Cinderella&quot', 'Salmonella']
['Mozzarella', 'Cinderella&quot', 'Salmonella']

6. Make a surprise list with the elements "Groucho" "Chico" and "Harpo"

In [24]:
surprise=["Groucho", "Chico", "Harpo"]


7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [42]:
surprise[-1].capitalize()[::-1]

'opraH'

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is

In [45]:
e2f={'dog':'chien', 'cat':'chat',"walrus":"morse"}

In [46]:
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [49]:
print(F"the the French word for walrus: {e2f['walrus']}" )

the the French word for walrus: morse

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [66]:
f2e={y:x for x,y in list(e2f.items())}
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

12. Make and print a set of English words from the keys in e2f.

In [68]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys:'animals','plants',
and'other'. Make the'animals' key refer to another dictionary with the keys'cats','octopi', and
'emus'. Make the'cats' key refer to a list of strings with the values'Henri','Grumpy', and'Lucy'.
Make all the other keys refer to empty dictionaries

In [85]:
life={'animals':{'cats':['Henri','Grumpy','Lucy'], 'octopi':{}, 'emus':{}}, 'plants':{}, 'others':{}}

In [72]:
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'others': {}}

14. Print the top-level keys of life.

In [86]:
print(life.keys())

dict_keys(['animals', 'plants', 'others'])

15. Print the keys for life['animals'].

In [87]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])







.







16. Print the values for life["animals"][";cats"]

In [88]:
life["animals"]['cats']

['Henri', 'Grumpy', 'Lucy']